.primy {
    background-color: aquamarine;
}

.secondy {
    background-color: rgb(240, 192, 236);
}

.spanny{
    color: brown;
}

.spenny{
    color: blue;
}

.blocky-1{
    background: lightblue;
    border: 3px solid black;
    margin: 10px;
}

.blocky-2{
    background-color: bisque;
    border: 3px solid black;
    /* lets make it round */
    border-radius: 5px;
    margin: 25px;
}

.blocky-3{
    background-color: antiquewhite;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.blocky-4{
    background-color: blanchedalmond;
    position: relative;
    top: 20px;
    left: 30px;
}

.blocky-5{
    position:absolute;
    bottom: -550px;
    left: 350px;
}

.blocky-6{
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 5;
}