body {
    margin-left: 15%;
    margin-right: 15%;
}

p{
    text-align: justify;
}
.code{
    font-family: monospace;
}

/* lets make all anchor links have background colour and something, I don't know*/
a {
    font-family: monospace;
}

/* let's make internal links be different */

/* a:local-link{
    background-color:aliceblue;
    color:rgb(255, 0, 0)
} */

/* never mind it doesn't work */

a:hover{
    background-color: rgb(207, 181, 231);
}

a:visited{
    color:brown
}

/* Give some size to boxys */
.boxy{
    background-color: aquamarine;
    /* width: 100px;
    height: 100px; */
    margin: 5px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 3%;
    text-align:center;
}

.wrapper{
    display: grid;
    /* fractional unis - the amount of tags define column number, the digit  - the proportional weight of the column. You can use simple digits for proportion, percentages or fixed amount of pixels */
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid template areas allow you to make your own layouts! */
    /* I didn't understand the areas ;( */
    grid-template-areas: "box1 box2 box3"
    "box4 box5 box7"
    "box6"
    "box8";
}

.flex-child{
    display:flex;
    justify-content: end;
    align-items: center;
}