
header{
    background-color: beige;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
body{
    background-color: bisque;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
}

footer{
    padding-left: 10px;
    border-radius: 10px;
}

.code{
    background-color: white;
}


/* Applying MQs by taking width into account, starting from the smallest screens. Google common breakpoints, for example. */
/* Commenting wrks by CTRL + forward slash :))) */
@media (min-width: 570px) {
    body{
        font-size: 18px;
    }
    header{
        background-color: brown;
    }
    footer{
        background-color: rgb(255, 174, 149);
    }
}

@media (min-width: 768px) {
    body{
        font-size: 16px;
    }
    header{
        background-color: rgb(255, 68, 0);
    }
    footer{
        background-color: rgb(231, 156, 156);
    }
}

/* let's define a flexbox container class as a flex vontainer */
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* and the kiddies */
.flexbox-item{
    background-color: antiquewhite;
    width: 200px;
    margin: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.flexbox-item-mini{
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 175, 99);
    width: 200px;
    margin: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}